*{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    height: 90px;
    width: 100%;
    background-color: white;
}

/*LOGO PARQUE NATURAL*/


#logoparque{
    display: flex;
    width: 30%;
    margin-left: 1.5%;
    align-self: center;
    height: 100%;
}

#imagenlogo{
    width: 100%;
    height: 100%;
    align-self: center;

}

#logo{
    width: 15%;
    height: 70px;
    align-self: center;
    align-self: center;

}



#parque{
    font-size: 20px;
    margin-left: 3%;
    width: 85%;
    align-self: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: center;
    
}



/*MENUUU*/
nav{
    width: 70%;
    display: flex;

    align-self: center;
    justify-content: end;

}
nav ul{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}


#ul__menu{
    width: 100%;
    display: flex;
    text-decoration: none;

}

.li__menu{
    display: flex;
    height: 100%;
    width: 10%;
    justify-content: center;
    font-size: 20px;
    margin-right: 2%;
    margin-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#cont-img1{
    width: 100%;
    height: 100%;
    
    grid-area: fotoPrinc;
}
#img1{
    width: 100%;
    height: 100%;
}

/*BANNER*/

#grid-container-banner{
    
    width: 100%;
    height: 500px;
    background-color: white;

    
    


    grid-template-areas: 
    'fotoPinc';
}


#cont-titulo-flora{
    height: 80%;
    width: 20%;
    margin-top: -20%;
    margin-left: 10%;

}
#titulo-flora{
    color: white;
    font-size: 90px;
}

#titulo-flora2{
    color: white;
    font-size: 30px;
}
/*BANNER*/

/*TEXTO*/
#grid-container-texto{
    
    width: 100%;
    height: 167px;
    background-color: rgb(160, 164, 165);

    
    
    
    
    
    grid-template-areas: 
    'texto';
    border-radius: 90px;
}
#cont-texto{
    height: 100%;
    width: 100%;
    grid-area: texto;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    line-height: 1.5;
    

    
}
#texto{
    margin: 01% 25% 5% 25%;
    font-size: 85%;
    align-content: center;

}

/*TEXTO*/







/*BOSQUE RIBERA*/
#grid-container-ribera{
    display: grid;
    width: 90%;
    height: 85%;
    align-self: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 


    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;

    grid-template-areas: 
    'ribera textoRibera';


}
#cont-ribera{
    grid-area: ribera ;
    background-color: beige;
    
}
#cont-img-ribera{
    height: 100%;
    width: 100%;
    background-color: white;
    
}
#img-ribera{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    
}
#img-ribera:hover{
    opacity: 0.8;
}
#cont-titulo-ribera{
    margin-top: -12%;
    margin-left: 10%;
    
}
#titulo-ribera{
    color: white;
}


#cont-texto-ribera{
    width: 100%;
    height: 100%;
    background-color: beige;
    line-height: 1.5;
    border-radius: 30px;
    grid-area: textoRibera;
    

}


#texto-ribera{
    font-size: 28px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 7%;
    
}
/*BOSQUE RIBERA*/

/* VEGETACION*/

#grid-container-vegetacion{
    display: grid;
    width: 90%;
    height: 185%;
    align-self: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 

    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;


    grid-template-areas: 
    'vegetacion textoVegetacion';

}

#cont-vegetacion{
    grid-area: vegetacion ;
    background-color: blanchedalmond;
}
#cont-img-vegetacion{
    height: 100%;
    width: 100%;
    background-color: white;
}
#img-vegetacion{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

#img-vegetacion:hover{
    opacity: 0.8;
}
#cont-titulo-vegetacion{
    margin-top: -12%;
    margin-left: 10%;
    
}
#titulo-vegetacion{
    color: white;
}


#cont-texto-vegetacion{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    line-height: 1.5;
    border-radius: 30px;
    

}
#texto-vegetacion{

    font-size: 28px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
}
/* VEGETACION*/


/* PRADERA */
#grid-container-praderas{
    display: grid;
    width: 90%;
    height: 185%;
    align-self: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 

    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    
    



    grid-template-areas: 
    'pradera textoPraderas';

}

#cont-pradera{
    grid-area: pradera ;
    background-color: blanchedalmond;
    border-radius: 30px;
}
#cont-img-pradera{
    height: 100%;
    width: 100%;
}
#img-pradera{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

#img-pradera:hover{
    opacity: 0.8;
}
#cont-titulo-pradera{
    margin-top: -12%;
    margin-left: 10%;
    
}
#titulo-pradera{
    color: white;
}


#cont-texto-pradera{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    grid-area: textoPraderas;
    line-height: 1.5;
    border-radius: 30px;
}
#texto-pradera{

    font-size: 28px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 2%;
}



















@media  screen and (max-width: 767px) and (min-width:320px){
    
    *{
        margin: 0;
        padding: 0;
    }
    
    #cont__titulos-banner{
        margin-top: -22%;
    }
    #logo{
        width: 50%;
        height: 50%;
    }
    #parque{
        font-size: 12px;
    }
    .li__menu{
        font-size: 10px;
        width: 20%;
    }
    nav ul{
   
    }
    #ul__menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid-container-banner{
        height: 20%;
    }
    #titulo-flora{
        font-size: 30px;
    }
    #titulo-flora2{
        font-size: 20px;
    }
    #cont-titulo-flora{
        margin-top: -35%;
        width: 60%;
    }
    #grid-container-texto{
        margin-top: 12%;
    }
    #cont-texto{

    }
    #texto{
        font-size: 8px;
        margin: 5% 10% 5% 13%;
    }


}



























































































#footer{
    border-top: 5px solid rgb(170, 168, 168);

    margin-top: 6%;
    width: 100%;
    height: 250px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    'parques listado redes'
    'copy copy copy';

    grid-column-gap: 20px;
    grid-row-gap: 10px;


    color: rgb(170, 168, 168);

}

#contenedor__parques{
    grid-area: parques;

    margin-top: 2%;

    font-size: 20px;
    display: flex;
    justify-content: center;
}







#contenedor__footerlistado{
    margin-top: 2%;

    grid-area: listado;

    display: flex;
    justify-content: center;
}

#ul__footer{
    
}

.li__lifooter{
    
}












#contenedor__redessociales{
    grid-area: redes;
    
    flex-direction: column;

}

#h1_seg{

}

#contenedor__fotosredes{
    display: flex;
    width: 12%;
    margin-top: 1%;
    margin-left: -2.3%;
}

.imagenes__redes{
    width: 100%;
}







#contenedor__copyright{
    grid-area: copy;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}


#parrafo__copyright{

}