*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

header{
    display: flex;
    height: 90px;
    width: 100%;
    background-color: white;
}

/*LOGO PARQUE NATURAL*/


#logoparque{
    display: flex;
    width: 30%;
    margin-left: 1.5%;
    align-self: center;
}

#imagenlogo{
    width: 100%;
    height: 100%;
    align-self: center;

}

#logo{
    width: 12.5%;
    height: 70px;
    align-self: center;
    align-self: center;

}



#parque{
    font-size: 20px;
    margin-left: 3%;
    align-self: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: center;

}



/*MENUUU*/
nav{
    width: 70%;
    display: flex;

    align-self: center;
    justify-content: end;

}
nav ul{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}


#ul__menu{
    width: 100%;
    display: flex;
    text-decoration: none;
    height: 30px;


}

a{
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto circundante */
}

.li__menu{
    display: flex;
    height: 100%;
    width: 10%;
    justify-content: center;
    font-size: 20px;
    margin-right: 2%;
    margin-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

.li__menu:hover{
    font-size: 25px;
}



/*BANNER*/


#banner{
    width: 100%;
    height: 100%;

}




.container-image {
  width: 100%;
  position: relative;
}

.container-image img {
  width: 100%;
}

.container-image::after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, black, transparent);
}




















#titulofauna{
    margin-top: -15%;
    margin-left: 160px;
    position: absolute;
    font-weight: bold;
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */

    position: relative;
    /*animation: nombre de la animacion, el tiempo, cantidad de repeticiones*/
    animation: desplazar 2s;
}



@keyframes desplazar{
    from{
        left: -20%;
    }to{
        left: 0px;
    }
}




#tituloh1{
    color: white;
    font-size: 70px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;


}


#tituloh2{
    color: white;
    font-size: 50px;
    margin-top: -1%;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}







/*MAIN*/

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


@font-face {
    font-family: 'fuentetituloespecies';
    src: url('fonts/nombre-de-tu-fuente.woff') format('woff'),
         url('fonts/nombre-de-tu-fuente.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




#contenedor__tituloespecies{
    border-radius: 500px;
    padding: 10px 20px;



    background-color: grey;
    width: 19%;
    margin-left: 8%;
    color: white;
    font-family: "Inter", sans-serif;
    margin-top: 10%;
    height: 120px;
    align-self: center;

}



.h1__tituloespecies{
    margin-left: 10%;
    font-size: 50px;
}



.h2__titutloespecies{
    align-self: center;
    margin-left: 10%;
    margin-top: -3%;
    font-size: 30px;
}




















/*PARRAFO*/  


/*Especies GRID*/



#contenedor__especies{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    display: flex;

}
#contenedor__fondo-especies{
    width: 84%;
    border-radius: 90px;
    margin-top: 5%;
    background-color: #D9BBA9;
    display: flex;
    justify-content: center;

}









#contenedor__gridespecies{

    display: grid;
    width: 92%;
    height: 95%;

    align-self: center;
    
    margin-top: 6%;

    justify-content: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 

    grid-template-areas: 
    'parrafo fotoPrinc'
    'parrafo2 parrafo2';

    grid-column-gap: 1px;
    grid-row-gap: 15px;
}




#parrafo__texto2{
    grid-area: parrafo2;
    display: flex;
    line-height: 2;
    margin-top: -3%;
    
}


#contenedor__fotoespecies{
    grid-area: fotoPrinc;
    
    margin-top: -6%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#imagen__zorrogrisespecies{
    width: 90% ;
    height: 80%;
    border-radius: 50px;

}




#contenedor__paraffoespecies{
    grid-area: parrafo;
    line-height: 2;
}

#parrafo__texto{
    line-height: 2;
}










/*Actividades AVES*/



#contenedor__actividades{

}


#contenedor__titulo{
    border-radius: 500px;
    padding: 10px 20px;



    background-color: #437daf;
    width: 25%;
    margin-left: 8%;
    color: white;
    font-family: "Inter", sans-serif;
    margin-top: 5%;
    height: 120px;
    align-self: center;
}




#h2__tituloespeciesa{
    color: white;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 1%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}




#contenedor__todoactividades{
    width: 100%;
    margin-top: 5%;
    display: flex;

}

#contenedor__texto{
    background-color: #9FA7BF;
    width: 40%;
    border-radius: 90px;
    height: 575px;
    display: flex;
    margin-left: 8%;
    margin-right: 4%;
    line-height: 2;
}



#contenedor__imagenactividades{
    align-self: center;
    background-color: #9FA7BF;
    width: 40%;
    border-radius: 90px;
    height: 500px;
    display: flex;
    margin-left: 1%;
    margin-right: 8%;
    justify-content: center;
}


#imagen__actividades{
    width: 85%;
    height: 85%;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
    
    

}

#parrafo__actividades{
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}
































































#contenedor__titulopeligro{
    border-radius: 500px;
    padding: 10px 20px;



    background-color: #D99B66;
    width: 30%;
    margin-left: 8%;
    color: white;
    font-family: "Inter", sans-serif;
    margin-top: 12%;
    height: 120px;
    align-self: center;
}


#h1__titulpeligro{
    margin-left: 6%;
    font-size: 50px;
}

#h2__titulopeligro{
    align-self: center;
    margin-left: 6%;
    margin-top: -3%;
    font-size: 30px;
}  











#contenedor__peligro{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    display: flex;
}



#contendor__fondo-peligro{
    width: 84%;
    border-radius: 90px;
    margin-top: 5%;
    background-color: #BF8D50;
    display: flex;
    justify-content: center;
}   


#contenedor__gridpeligro{
    display: grid;
    width: 92%;
    height: 85%;


    align-self: center;
    justify-content: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 

    grid-template-areas: 
    'parrafo fotoPrinc'
    'parrafo2 parrafo2';

    grid-column-gap: 5px;
    grid-row-gap: 5px;
}








#contendor__textopeligro1{
    grid-area: parrafo;
    line-height: 2;
}




#parrafo__1peligro{
    grid-area: parrafo2;
    display: flex;
    line-height: 2;
}



#contendor__textopeligro2{
    grid-area: parrafo2;
    display: flex;
    line-height: 2;
    margin-top: -5%;
}


#parrafo__2peligro{

}





#contendor__imagenyaguarete{
    grid-area: fotoPrinc;
    



    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 80%;
}


#imagen__yaguarete{
    width: 100% ;
    height: 100%;
    border-radius: 50px;

    

}







































/*FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  FOOTER*/


#footer{
    border-top: 5px solid rgb(170, 168, 168);





    margin-top: 20%;
    width: 100%;
    height: 250px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    'parques listado redes'
    'copy copy copy';

    grid-column-gap: 20px;
    grid-row-gap: 10px;


    color: rgb(170, 168, 168);
    

}

#contenedor__parques{
    grid-area: parques;

    margin-top: 3%;

    font-size: 20px;
    display: flex;
    justify-content: center;
}







#contenedor__footerlistado{
    margin-top: 3%;

    grid-area: listado;

    display: flex;
    justify-content: center;
}

#ul__footer{
    
}

.li__lifooter{
    
}












#contenedor__redessociales{
    grid-area: redes;
    
    flex-direction: column;
    
    margin-top: 2%;

}

#contenedor__fotosredes{
    display: flex;
    width: 12%;
    margin-top: 1%;
    margin-left: -2.3%;
}

.imagenes__redes{
    width: 100%;
}







#contenedor__copyright{
    grid-area: copy;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}


#parrafo__copyright{

}